body{
    position: relative;
    width: 1440px;
    height: 3359px;
}
.Evian{
    position: absolute;
    width: 1440px;
    height: 950px;
    top: 140px;
    left: 0px;
}
.Title{
    position: absolute;
    width: 1440px;
    height: 950px;
    top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Title p{
    font-family: Arial;
    font-size: 100px;
    font-weight: 400;
    line-height: 115px;
    letter-spacing: 0em;
    text-align: center;
    color:#E50043;
}
.Texter{
    position: absolute;
    width: 1040px;
    height: 280px;
    top: 1240px;
    left: 201px;
    border: 3px solid #F8BFC7;
    border-radius: 20px;
}
.mainText{
    position: absolute;
    width: 992px;
    height: 232px;
    top: 24px;
    left: 24px;
}
.mainText p{
    font-family: Arial;
    font-size: 25px;
    line-height: 28.75px;
}
.IMG1{
    position: absolute;
    top: 1670px;
    left: 960px;
    width: 281px;
    height: 863px;
}
.IMG2{
    position: absolute;
    top: 1670px;
    left: 581px;
    width: 281px;
    height: 863px;
}
.IMG3{
    position: absolute;
    top: 1670px;
    left: 200px;
    width: 281px;
    height: 863px;
}
.img1under{
    position: absolute;
    width: 248px;
    height: 58px;
    top: 2581px;
    left: 216px;
}
.img2under{
    position: absolute;
    width: 249px;
    height: 58px;
    top: 2581px;
    left: 601px;
}
.img3under{
    position: absolute;
    width: 237px;
    height: 58px;
    top: 2581px;
    left: 987px;
}
.styleText{
    font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.commentConteiner{
    position: absolute;
    width: 1040px;
    height: 280px;
    top: 2789px;
    left: 201px;
    border: 3px solid #F8BFC7;
    border-radius: 20px;
}
.commentConteiner img{
    position: absolute;
    width: 101px;
    height: 220px;
    top: 30px;
    left: 80px;
}
.commentConteiner p{
    position: absolute;
    width: 749px;
    height: 220px;
    top: 30px;
    right: 30px;
    font-family: Arial;
    font-size: 25px;
    line-height: 28.75px;
}
footer div{
    position: absolute;
    width: 1440px;
    height: 140px;
    top: 3219px;
    left: 0;
    background-color: #F8BFC7;
}
footer p{
    position: absolute;
    width: 330px;
    height: 40px;
    top: 50px;
    left: 50px;
    color: white;
    font-family: Arial;
    font-weight: 400;
    font-size: 50px;
    line-height: 57.5px;
    display: flex;
    align-items: center;
}
nav{
    position:absolute;
    width: 1440px;
    height: 140px;
    left: 0;
    top: 0;
    color: #FFFFFF;
}
nav p{
    position: absolute;
    width: 120px;
    height: 40px;
    top: 50px;
    left: 50px;

    font-family: 'Arial';
    font-weight: 400;
    font-size: 50px;
    line-height: 57.5px;
    color: #E50043;

}
.p1{
    position: absolute;
    width: 120px;
    height: 40px;
    top: 50px;
    left: 950px;

    font-family: 'Arial';
    font-weight: 400;
    font-size: 50px;
    line-height: 57.5px;
    color: #E50043;

}
.p2{
    position: absolute;
    width: 120px;
    height: 40px;
    top: 50px;
    left: 1105px;

    font-family: 'Arial';
    font-weight: 400;
    font-size: 50px;
    line-height: 57.5px;
    color: #E50043;

}
.p3{
    position: absolute;
    width: 120px;
    height: 40px;
    top: 50px;
    left: 1260px;

    font-family: 'Arial';
    font-weight: 400;
    font-size: 50px;
    line-height: 57.5px;
    color: #E50043;

}