.header{
    height: 160px;
    min-width: none;
    background-color: #FFE138;
    margin:0px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header p{
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 50px;
    line-height: 57.5;
    text-align: center;
    text-transform: uppercase;
}
.mainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.conteiner{
    max-width: 334px;
    min-height: none;
    border: 1px solid black;
    margin: 0px 25px;
}
div h1{
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}
div p{
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}
img{
    width: 100%;
}
.footer{
    height: 160px;
    min-width: none;
    background-color: #FFE138;
    margin:50px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p{
    font-family: 'Times New Roman';
    font-weight: 400;
    font-size: 50px;
    line-height: 57.5;
    text-align: center;
    text-transform: uppercase;
}