header.first{
    width: 1440px;
    height: 90px;
    background-color: #F8BFC7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.first p{
    margin-right: 30px;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 23px;
}
.secondHeader{
    margin-right: 20px;
}

div.background{
    background-image: url(../img/background.png);
    position: absolute;
    background-repeat: no-repeat;
}
.personal{
    width: 300px;
    height: 362px;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    background-color: #F8BFC7;
    display: flex;
    flex-direction: column;
    margin: 90px 1050px 0px 90px;
}
.personal input, label{
    display: block;
    margin: 12px 30px 3px;
    background-color: #F8BFC7;
    color: blue;
    border: 0px;
}
.line{
    position: relative;
    width: 240px;
    height: 0;
    border: 1px solid #FFFFFF;
    left: 30px;
}
.submit{
    display: flex;
    justify-content: center;
}
.submit input{
    background-color: #FEB700;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 23px;
    font-family: Helvetica;
    text-transform: uppercase;
    border: 0px;

}
.personal input{
    height: 25px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
::placeholder{
    color: #FFFFFF;
}
label{
    color: #FFFFFF;
    font-size: 20px;
    line-height: 23px;
    font-family: Helvetica;
}
.submit{
    width: 200px;
    height: 60px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    background-color: #FEB700;
    color: #FFFFFF;
    display: flex;
    margin: 10px 10px 191px 140px;
}
.underHead{
    width: 1440px;
    height: 258px;
    background-color: rgb(53, 106, 219);
    position: absolute;
    top: 733px;
    display: flex;
    justify-content: center;
}
.underHead p{
    position: absolute;
    top: 30px;
    font-family: Helvetica;
    font-size: 50px;
    line-height: 57.5px;
    color: #FEB700;
    text-transform: uppercase;
}
.footer{
    position: absolute;
    width: 1440px;
    height: 90px;
    background-color: #F8BFC7;
    top: 901px; 
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.footer p{
    color: #FFFFFF;
    font-size: 20px;
    font-family: Helvetica;
    line-height: 23px;
    margin: 0px 50px 0px 50px;
}
